.test {
    background-color: chartreuse;
    height: 600px;
}
.turquoise {
    background-color: turquoise;
    height: 600px;
}
.red {
    background-color: red;
    width: 70px;
}

.blue {
    background-color: blue;
}

.black {
    background-color: black;
}
.green {
    background-color: green;
}
.yellow {
    background-color: yellow;
}
.corn {
    background-color: cornflowerblue;
    width: 50%;
}
.purple {
    background-color: purple;
    width: 50%;
}
.brown {
    background-color: brown;
    width: 50%;
}
.orange {
    background-color: orange;
    width: 50%;
}