html{
    font-family: 'Open Sans', sans-serif;
    width: auto;
}
body {
    width: auto;
    margin: auto;

}
.wrapper {
    display: grid;
    grid-template-columns: repeat(4);
    grid-gap: 5px;
    margin: auto;
    width: auto;
}

.account-head {
    grid-column: 1;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: row;
    height:auto;
    width: auto;
}

.account-head h4 {
    margin: 5px 5px 40px;
    height: 20px;
}

.account-head i {
    align-items: center;
    margin: 5px 5px 40px;
    height: 20px;

}

.account-head2 {
    display: none;
}

.dnas-head {
    grid-column: 2;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: auto;
}

.dnas-head i {
    margin-right: 5px;
}

.email-head {
    grid-column: 3;
    grid-row: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: auto;
}

.email-head i {
    margin-left: auto;
    margin-right: 5px;
}

.email-head a {
    margin-right: 5px;
}

.deconnexion-head {
    grid-column: 4;
    grid-row: 1;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: auto;
}

.deconnexion-head button {
    margin-left: auto;
    margin-right: 5px;
    width: 150px;
    height: 40px;

}

.deconnexion2 {
    display: none;
}

button p {
    margin: auto;
}

.summary-head {
    grid-column: 3 / 5;
    grid-row: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: auto;

}

.summary-head p {
    margin-left: auto;
    margin-right: 5px;
}

.navigation ul {
    display: flex;
    flex-direction: row;
    margin: 5px auto;
    border: 2px solid black;
    list-style-type: none;
    height: auto;
    text-align: center;
    box-shadow: 5px 5px 5px  black;
    padding-left: 0;
}

nav i{
    background-color: cornflowerblue;
}

.button li {
    padding: 8px;
    width: auto;
    height: auto;
    align-items: center;
    border-left: 2px solid black;
}

.button li:hover {
    background-color: rgb(172, 172, 172);
    height: auto;
}

.wrapper2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    width: auto;
}

.welcome {

    margin: 5px;
    grid-column: 1;
    grid-row: 1;
    width: auto;
}

.welcome h2 {
    margin-bottom: auto;
}

.main-address {
    border: 2px solid black;
    margin: 5px;
    grid-column: 1;
    grid-row: 2 / 4;
    padding: auto;
    width: auto;

}

.inside-block-main {
    display: flex;
    flex-direction: row;
    margin: 5px;
}

.inside-block-main i {
    margin: auto 5px;
}

.inside-block-main h3 {
    margin: auto 5px;
}


.inside-block {
    display: flex;
    flex-direction: row;
    margin: 10px 20px;
}

.inside-block i {
    margin: auto 5px;
}

.inside-block p {
    margin: auto 5px;
}

.last-op {
    border: 2px solid black;
    margin: 5px;
    padding: 10px;
    grid-column: 1;
    grid-row: 4;
}

table {
    table-layout: fixed;
    width: auto;
    border-collapse: collapse;
    border: 2px solid black;
}
thead th:nth-child(1) {
    width: auto;
  }

thead th:nth-child(2) {
    width: auto;
}

thead th:nth-child(3) {
    width: auto;
}

thead th:nth-child(4) {
    width: auto;
}

thead th:nth-child(5) {
    width: auto;
}

tr th {
    border-left: 2px solid black;
}

tr td {
    border-left: 2px solid black;
    height: 30px;
}

thead {
    background-color: rgb(204, 202, 202);
}
tbody tr:nth-child(odd) {
    background-color:  rgb(241, 238, 238);
}
tbody td:nth-child(3) {
    text-align: center;
}


.last-connexion {

    margin: 5px;
    grid-column: 2 / 4;
    grid-row: 1;
    margin-top: auto;


}

.dnas {
    border: 2px dashed black;
    margin: 5px;
    padding: 10px;
    grid-column: 2/4;
    grid-row: 2;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
}

.urgent {
    margin: auto 30px;
    text-align: center;

}

.inbox {
    border: 2px solid black;
    margin: 5px;
    padding: 10px;
    grid-column: 2;
    grid-row: 3;
    text-align: center;
}

.inbox a {
    text-decoration: none;
}

.inbox2 {
    display: none;
}

.contact {
    border: 2px solid black;
    margin: 5px;
    padding: 10px;
    grid-column: 3;
    grid-row: 3;
    text-align: center;
}


.important {
    border: 2px solid black;
    margin: 5px;
    padding: 10px;
    grid-column: 2/4;
    grid-row: 4;
    list-style-type: url();
}
@media all and (max-width: 1024px) {
    html{
        font-family: 'Open Sans', sans-serif;
        font-size: 80%;
        width: 100%;
    }
    body {
        width: 100%;
        margin: auto;
    }
    .wrapper {
        display: grid;
        grid-template-columns: repeat(4);
        grid-gap: 5px;
        margin: auto;
        width: auto;
    }
    
    .deconnexion2 {
        display: contents;
        text-align: center;
        margin: auto;
        border: 1px solid black;
    
    }

    .deconnexion2 i {
        grid-column: 2/4;
        grid-row: 1;
        border: 1px solid cornflowerblue;
        width: auto;
        height: auto;
        border-radius: 100px;
        background-color: cornflowerblue;
        color: white;
        margin-top: 20px;
    }

    .account-head {
        grid-column: 1/3;
        grid-row: 2;
        display: flex;
        flex-direction: column;
        height:auto;
        width: auto;
        display: none;
    }
    
    .account-head h4 {
        margin: auto;
        height: 20px;
        display: none;
    }
    
    .account-head i {
        align-items: center;
        margin: auto;
        height: 20px;
        display: none;
    }

    .account-head2 {
        display: contents;
        grid-column: 1/3;
        grid-row: 2;
        display: flex;
        flex-direction: column;
        height:100%;
        width: 150px;
        margin-left: auto;
        margin: 20px 10px 20px auto;
        justify-content: center;
        border-radius: 10px;
        background-color: cornflowerblue;
        color: white;

    }

    .account-head2 h4 {
        margin: 5px auto;
        height: auto;
    }
    
    .account-head2 i {
        align-items: center;
        margin: 5px auto;
        height: auto;
      }
    
    .dnas-head {
        display: none;
    }
    
    .dnas-head i {
        display: none;
    }
    
    .email-head {
        grid-column: 3/5;
        grid-row: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        width: auto;
        display: none;
    }
    
    .email-head i {
        margin: auto;
    

    }
    
    .email-head a {
        margin:auto;
    }

    .inbox2 {
        display: contents;
        grid-column: 3/5;
        grid-row: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        width: 150px;
        justify-content: center;
        margin: 20px auto 20px 20px;
        border-radius: 10px;
        background-color: cornflowerblue;
        color: white;
    }

        
    .inbox2 i {
        margin: 5px auto;
    }
    
    .inbox2 h3 {
        margin: 5px auto;
        height: auto;
    }
    
    .deconnexion-head {
        display: none;
        }
    
    .deconnexion-head button {
        display: none;
    }

    button p {
        display: none;
    }
    
    .summary-head {
        display: none;
    }
    
    .summary-head p {
        display: none;
    }

    .wrapper2 {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 5px;
        width: auto;
    }
    
    
    .last-connexion {
        grid-column: 1/3;
        grid-row: 1;
        margin-top: 50px;   
    }
    
    
    .welcome {
    
        margin: 5px;
        grid-column: 1/4;
        grid-row: 2;
        width: auto;
    }
    
    .welcome h2 {
        margin-bottom: auto;
    }
    
    .main-address {
        border: 2px solid cornflowerblue;
        margin: 5px;
        grid-column: 1/3;
        grid-row: 3;
        padding: auto;
        width: auto;
    
    }
    
    .contact {
        border: 2px solid cornflowerblue;
        margin: 5px;
        padding: 10px;
        grid-column: 3/5;
        grid-row: 3;
        text-align: center;
  
    }

    .dnas {
        border: 2px dashed cornflowerblue;
        margin: 5px;
        padding: 10px;
        grid-column: 1/3;
        grid-row: 4;
        display: flex;
        flex-direction: column;
        width: auto;
        border-radius: 5px;
    }
    
    .urgent {
        margin: 10px;
        text-align: center;    
    }
    .important {
        border: 2px solid cornflowerblue;
        margin: 5px;
        padding: 10px;
        grid-column: 3/5;
        grid-row: 4;
        list-style-type: url();
        width: auto;
    }
    /*mettre au centre du cercle*/
    .last-op {
        display:none;
    }

    table {
        display: none;
    }
        
    /* positionnement des éléments dans les tuiles*/
    .inside-block-main {
        display: flex;
        flex-direction: row;
        margin: 5px;
    }
    
    .inside-block-main i {
        margin: auto 5px;
    }
    
    .inside-block-main h3 {
        margin: auto 5px;
    }
    
    
    .inside-block {
        display: flex;
        flex-direction: row;
        margin: 10px 20px;
    }
    
    .inside-block i {
        margin: auto 5px;
    }
    
    .inside-block p {
        margin: auto 5px;
    }
    
     
    .inbox {
        display: none;
    }
    
    
    /*positionnement fixe de la nav en bas de page */
    .navigation ul {
        position:fixed;
        bottom:  0;
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        border: none;
        list-style-type: none;
        height: 50px;
        width: 100%;
        text-align: center;
        align-items: center;
        box-shadow: none;
        background-color: cornflowerblue;
    }
    
    .button i{
        display: none;
    }
    
    .button li {
        padding: 8px;
        width: auto;
        height: 20px;
        margin : 0 5px;
        align-items: center;
        border: none;
        border-radius: 5px;
        background-color: white;
    }
    
    .button li:hover {
        display:contents;
    }
}

body {
    width: 100%;
}
.form {
    background-color: rgb(223, 221, 221);
    display: flex;
    flex-direction: column;
    margin: 20%;
    height: 300px;
    text-align: center;
    border: 1px solid black;
    
}

.form2 {

    margin:30px auto 10px;
}

button {
    margin-top: 10px;

}
.psswd {
    margin: 10px auto 80px;
    width: auto;


}

.signin {
    text-align: right;


}